# Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS 관련
.DS_Store
Thumbs.db
desktop.ini

# 테스트 및 로그 관련
test-output/
*.log